{% extends 'food/base.html' %}
{% load static %}


{% block title %}
    Marten - Pet Food eCommerce Bootstrap4 Template
{% endblock %}






{% block content %}
    <div class="slider-area">
        <div class="slider-active owl-dot-style owl-carousel">
            {% for slider in sliders %}
                <div class="single-slider pt-100 pb-100 yellow-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 col-sm-7">
                                <div class="slider-content slider-animated-1 pt-114">
                                    <h3 class="animated">{{ slider.product.description|truncatewords:5 }}</h3>
                                    <h1 class="animated">{{ slider.product.title }}</h1>
                                    <div class="slider-btn">
                                        <a class="animated" href="{% url 'food:product_detail' slider.product.slug %}">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 col-sm-5">
                                <div class="slider-single-img slider-animated-1">
                                    <img class="animated" src="{{ slider.product.images.url }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="product-area pt-95 pb-70 gray-bg">
            <div class="container">
                <div class="section-title text-center mb-55">
                    <h4>Most Popular</h4>
                    <h2>Recent Products</h2>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="product-wrapper mb-10">
                                <div class="product-img">
                                    <a href="{% url 'food:product_detail' product.slug %}">
                                        <img src="{{ product.images.url }}" alt="">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h4><a href="{% url 'food:product_detail' product.slug %}">{{ product.title }}</a>
                                    </h4>
                                    <div class="product-price">
                                        <span class="new">${{ product.new_price }} </span>
                                        {% if product.old_price %}
                                            <span class="old">${{ product.old_price }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if best_products %}
            <div class="deal-area bg-img pt-95 pb-100">
                <div class="container">
                    <div class="section-title text-center mb-50">
                        <h4>Best Product</h4>
                        <h2>Deal of the Week</h2>
                    </div>
                    {% for best_product in best_products %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="deal-img wow fadeInLeft">
                                    <a href="{% url 'food:product_detail' best_product.product.slug %}"><img
                                            src="{{ best_product.product.images.url }}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="deal-content">
                                    <h3>
                                        <a href="{% url 'food:product_detail' best_product.product.slug %}">{{ best_product.product.title }}</a>
                                    </h3>
                                    <div class="deal-pro-price">
                                        {% if best_product.product.old_price %}
                                            <span class="deal-old-price">${{ best_product.product.old_price }} </span>
                                        {% endif %}
                                        <span> ${{ best_product.product.new_price }}</span>
                                    </div>
                                    <p>{{ best_product.product.description|truncatewords:150 }} </p>
                                    <div class="timer timer-style">
                                        <div data-countdown="{{ best_product.end_of_discount.isoformat }}"></div>
                                    </div>
                                    <div class="discount-btn mt-35">
                                        <a class="btn-style"
                                           href="{% url 'food:product_detail' best_product.product.slug %}">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="testimonial-area pt-90 pb-70 bg-img"
             style="background-image:url({% static 'assets/img/banner/banner-1.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 ml-auto mr-auto">
                        <div class="testimonial-wrap">
                            <div class="testimonial-text-slider text-center">
                                {% for comment_home in comments_home %}
                                    <div class="sin-testiText">
                                        <p>{{ comment_home.comment }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="testimonial-image-slider text-center">
                                {% for comment_home in comments_home %}
                                    <div class="sin-testiImage">
                                        <img src="{{ comment_home.images.url }}" alt="">
                                        <h3>{{ comment_home.full_name }}</h3>
                                        <h5>{{ comment_home.profession }}</h5>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="testimonial-shap">
                                <img src="{% static 'assets/img/icon-img/testi-shap.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-area bg-img pt-100 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="service-content text-center mb-30 service-color-1">
                            <img src="{% static 'assets/img/icon-img/shipping.png' %}" alt="">
                            <h4>FREE SHIPPING</h4>
                            <p>Free shipping on all order </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="service-content text-center mb-30 service-color-2">
                            <img src="{% static 'assets/img/icon-img/support.png' %}" alt="">
                            <h4>ONLINE SUPPORT</h4>
                            <p>Online support 24 hours a day</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="service-content text-center mb-30 service-color-3">
                            <img src="{% static 'assets/img/icon-img/money.png' %}" alt="">
                            <h4>MONEY RETURN</h4>
                            <p>Back guarantee under 5 days</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-area pb-70">
            <div class="container">
                <div class="section-title text-center mb-60">
                    <h4>Latest News</h4>
                    <h2>From Our Blog</h2>
                </div>
                <div class="row">
                    {% for blog in blogs %}
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-wrapper mb-30 gray-bg">
                                <div class="blog-img hover-effect">
                                    <a href="blog-details.html"><img alt="" src="{{ blog.image.url }}"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li>By: <span>{{ blog.user }}</span></li>
                                            <li>{{ blog.date_added }}</li>
                                        </ul>
                                    </div>
                                    <h4><a href="blog-details.html">{{ blog.title }}</a></h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}