{% extends 'food/base.html' %}
{% load static %}

{% block title %}
    Food
{% endblock %}




{% block content %}
    <div class="breadcrumb-area pt-95 pb-95 bg-img"
         style="background-image:url({% static 'assets/img/banner/banner-2.jpg' %});">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Shop Page</h2>
                <ul>
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li class="active">Shop Page</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-area pt-100 pb-100 gray-bg">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-topbar-wrapper">
                        <div class="grid-list-options">
                            <ul class="view-mode">
                                <li class="active"><a href="#product-grid" data-view="product-grid"><i
                                        class="ti-layout-grid4-alt"></i></a></li>
                                <li><a href="#product-list" data-view="product-list"><i
                                        class="ti-align-justify"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-list-product-wrapper">
                        <div class="product-view product-grid">
                            <div class="row">
                                {% for product in products %}
                                    <div class="product-width col-lg-6 col-xl-4 col-md-6 col-sm-6">
                                        <div class="product-wrapper mb-10">
                                            <div class="product-img">
                                                <a href="{% url 'food:product_detail' product.id %}">
                                                    <img src="{{ product.images.url }}" alt="">
                                                </a>
                                                <div class="product-action">
                                                    <a title="Quick View" data-toggle="modal"
                                                       data-target="#exampleModal"
                                                       href="#">
                                                        <i class="ti-plus"></i>
                                                    </a>
                                                    <a title="Add To Cart" href="#">
                                                        <i class="ti-shopping-cart"></i>
                                                    </a>
                                                </div>
                                                <div class="product-action-wishlist">
                                                    <a title="Wishlist" href="#">
                                                        <i class="ti-heart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h4>
                                                    <a href="{% url 'food:product_detail' product.id %}">{{ product.title }}</a>
                                                </h4>
                                                <div class="product-price">
                                                    <span class="new">${{ product.new_price }} </span>
                                                    {% if product.old_price %}
                                                        <span class="old">${{ product.old_price }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="product-list-content">
                                                <h4><a href="#">{{ product.title }}</a></h4>
                                                <div class="product-price">
                                                    <span class="new">${{ product.new_price }} </span>
                                                    {% if product.old_price %}
                                                        <span class="old">${{ product.old_price }}</span>
                                                    {% endif %}
                                                </div>
                                                <p>{{ product.description|truncatewords:150 }}</p>
                                                <div class="product-list-action">
                                                    <div class="product-list-action-left">
                                                        <a class="addtocart-btn" title="Add to cart" href="{% url 'food:basket_add' product.id %}"><i
                                                                class="ion-bag"></i> Add to cart</a>
                                                    </div>
                                                    <div class="product-list-action-right">
                                                        <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                                        <a title="Quick View" data-toggle="modal"
                                                           data-target="#exampleModal"
                                                           href="#"><i class="ti-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if is_paginated %}
                                <div class="pagination-style text-center mt-10">
                                    <ul>
                                        <li>
                                            {% if page_obj.has_previous %}
                                                <a href="?page={{ page_obj.previous_page_number }}"><i
                                                        class="icon-arrow-left"></i></a>
                                            {% endif %}
                                        </li>
                                        {% for page in page_obj.paginator.page_range %}
                                            <li>
                                                <a href="?page={{ page }}">{{ page }}</a>
                                            </li>
                                        {% endfor %}
                                        <li>
                                            {% if page_obj.has_next %}
                                                <a class="active" href="?page={{ page_obj.next_page_number }}"><i
                                                        class="icon-arrow-right"></i></a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="shop-sidebar">
                        <div class="shop-widget">
                            <h4 class="shop-sidebar-title">Search Products</h4>
                            <div class="shop-search mt-25 mb-50">
                                <form class="shop-search-form">
                                    <input type="text" placeholder="Find a product">
                                    <button type="submit">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="shop-widget">
                            <h4 class="shop-sidebar-title">Filter By Price</h4>
                            <div class="price_filter mt-25">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <label>price : </label>
                                        <input type="text" id="amount" name="price" placeholder="Add Your Price"/>
                                    </div>
                                    <button type="button">Filter</button>
                                </div>
                            </div>
                        </div>
                        <div class="shop-widget mt-50">
                            <a href="{% url 'food:food' %}"><h4 class="shop-sidebar-title">Food Category </h4></a>
                            <div class="shop-list-style mt-20">
                                {% for category in categories %}
                                    <ul>
                                        <li><a href="{% url 'food:category' category.id %}">{{ category.title }}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}