{% extends 'food/base.html' %}
{% load static %}


{% block title %}
    Blog
{% endblock %}



{% block content %}

    <div class="breadcrumb-area pt-95 pb-95 bg-img"
         style="background-image:url({% static 'assets/img/banner/banner-2.jpg' %});">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Blog</h2>
                <ul>
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="blog-area pt-100 pb-100 clearfix">
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-wrapper mb-30 gray-bg">
                            <div class="blog-img hover-effect">
                                <a href="{% url 'blog:detail_blog' blog.slug %}"><img alt="" src="{{ blog.image.url }}"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li>By: <span>{{ blog.user }}</span></li>
                                        <li>{{ blog.date_added }}</li>
                                    </ul>
                                </div>
                                <h4><a href="{% url 'blog:detail_blog' blog.slug %}">{{ blog.title }}</a></h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
                <div class="pagination-style text-center mt-10">
                    <ul>
                        <li>
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}"><i
                                        class="icon-arrow-left"></i></a>
                            {% endif %}
                        </li>
                        {% for page in page_obj.paginator.page_range %}
                            <li>
                                <a href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            {% if page_obj.has_next %}
                                <a class="active" href="?page={{ page_obj.next_page_number }}"><i
                                        class="icon-arrow-right"></i></a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}